.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #4b4b4b;
  border-radius: 12px;
}

.list-item-complete {
  background-color: #4caf50 !important;
  color: aliceblue !important;
}

.list-item-task {
  color: aliceblue;
}

.list-item-action button {
  display: block;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
  height: 4rem;
  border: solid 1px white;
  color: aliceblue;
  background-color: #2a2a2a;
}

.list-item-action button:hover {
  background-color: aliceblue;
  color: #2a2a2a;
}

.list-item-action-complete button {
  color: aliceblue !important;
  background-color: #1a571c !important;
}

.list-item-action-complete button:hover {
  background-color: aliceblue !important;
  color: #4caf50 !important;
}
