div .signin {
  text-align: left;
  width: 30rem;
  max-width: 95%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.signinform label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.signinform h1 {
  text-align: center;
}

div .signinform input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signinbutton {
  width: 100%;
  margin: 0 auto 0.5rem;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signinbutton:hover {
  border: 1px solid black;
  background-color: #fff;
  color: #4caf50;
}

.signinbutton a {
  color: inherit;
  text-decoration: none;
}

.text-danger {
  font-weight: 600;
  color: red;
}

.text-success {
  font-weight: 600;
  color: #4caf50;
}

.visibility {
  background-color: inherit;
  border: none;
}

.visibility:nth-last-child(1) {
  margin-bottom: 16px;
}
